body{
    background-size: 100%;
    background-image: url("../Pics/lln.jpeg");
    background-color: rgba(150, 150, 150, 0.8);
    background-blend-mode: lighten;
}

.loginButton{
    border-radius: 4px;
    font-size: 20px;
    border: 2px solid #00c3af;
    background-color: #009c8c;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 10px 24px;
    transition-duration: 0.4s;
}

.loginButton:hover{
    border: 2px solid #009c8c;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.dateLabel{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

.incidentButton {
    appearance: button;
    backface-visibility: hidden;
    background-color: #00c3af;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 20px;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 10px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.incidentButton:disabled {
    cursor: default;
}

.incidentButton:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.rightPart{
    align-items: right;
}

.title{
    font-size: 70px;
    font-weight: 600;
    font-family: 'Constantia';
    color: #00c3af;
    text-decoration: underline;
    text-shadow: 0px 0px 5px #0f5a5373, 0px 0px 10px #0f5a5373, 0px 0px 10px #0f5a5373,
    0px 0px 20px #0f5a5373;
    position: absolute;
    margin: 0;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-clip: text;
    -webkit-background-clip: text;
}

.searchBox{
    border: 3px solid #515e60;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    justify-content: space-between;
}

th {
    font-family: "Arial Black";
    background-image: linear-gradient(to bottom, #00c3af, #009c8c);
    padding: 8px 20px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #009c8c;
    border-radius: 5px;
}

td:first-child{
    text-align: left;
    width: 40%;
    word-wrap: break-word;
}

/* .alternating td:nth-of-type(odd) {
    background-color: rgb(220,220,220);
} */

td {
    padding: 8px 20px;
    text-align: center;
    font-family: "Arial";
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 20px;
}

.add-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnailLogo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

.thumbnailLogo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}