body{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../Pics/lln.jpeg");
    background-color: rgba(150, 150, 150, 0.8);
    background-blend-mode: lighten;
}

.loginButton{
    border-radius: 4px;
    font-size: 20px;
    border: 1px solid green;
    background-color: #4fbf52;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 10px 24px;
    transition-duration: 0.4s;
}

.loginButton:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.incidentButton {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 20px;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 10px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.incidentButton:disabled {
    cursor: default;
}

.incidentButton:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.rightPart{
    align-items: right;
}

.title{
    font-size: 70px;
    font-weight: 600;
    font-family: Constantia;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    position: absolute;
    margin: 0;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-clip: text;
    -webkit-background-clip: text;
}

.searchBox{
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    justify-content: space-between;
}

th {
    background-color: rgb(196, 199, 196);
    border-radius: 5px;
}

td {
    background-color: rgb(196, 199, 196);
    border: 1px solid black;
    height: 20px;
}

.add-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}