body {
    background-size: 100%;
    background-image: url("../Pics/lln.jpeg");
    background-color: rgba(150, 150, 150, 0.8);
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
}

input#email-input:invalid {
    background-color: #ffdddd;
}

.top {
    box-shadow: 10px 10px 50px #286b56;
    background-image: linear-gradient(to bottom right, #00c3af 35%, #0a885c);
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3.5em;
    font-family: 'Constantia';
}

.incorrect-passsword {
    padding-left: 2%;
    position: absolute;
    display: inline-block;
    color: red;
    font-size: 1.2em;
    font-family: monospace;
}

.bigBlock {
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.8);
    background-position: left top;
    font-family: Verdana, sans-serif;
    margin-top: 12px;
    margin-left: 300px;
    margin-right: 300px;
}

.bigBlock div {
    border-radius: 8px;
    border: 3px solid rgb(47, 47, 47);
    margin: 0;
    padding-left: 10px;
}

.bigBlock form div {
    border: none;
    margin-bottom: 15px;
}

.bigBlock div form div label {
    display: inline-block;
    width: 150px;
    font-family: Verdana, sans-serif;
}

button {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    background-color: #00c3af;
    border-radius: 6px;
    color: white;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    padding: 5px 12px;
    cursor: pointer;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}