<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page de création d'un incident</title>
</head>

<link rel="stylesheet" href="css/incident-style.css">

<body>
<div class="upper">
    Page de création d'un incident
</div>
</body>
<div class="first_marg">
<img src= "Pics/Logo-federation-wallonie-bruxelles.jpg" alt="Logo" style="width:125px;height:150px">
<img src="Pics/Soutenu-par-le-BW-large.png" alt="flag" style="float:right; width:400px; height:150px">
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Options
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">S'inscrire</a>
      <a href="#">Se connecter</a>
      <a href="#">Retour</a>
    </div>
  </div>
</div>

    <hr>
    <h1>Signaler un nouveau incident</h1>
  <form action="/add" method="post">
      <p><label>Description</label></p>
      <textarea name="description" type="text" rows="4" cols="50" required></textarea> <br>
      <p><label>Adresse</label></p>
      <textarea  name="address" type="text"rows="4" cols="50" required></textarea> <br>
      <p align="right"><label>Date: <%=rememeber%></label></p>

      <button type="submit" name="button">Ajouter l'incident</button>
  </form>
</div>
