<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Louvain-la-propre</title>
    <link rel="shortcut icon" href="./Pics/lln_logo.png">
    <link rel="stylesheet" href="css/incident-style.css">
  </head>
  <body>
    <section>
      <div class="upper">Page de création d'un incident</div>
    </section>


    <section class="bigBlock">
      <div target="_block">
        
        <div class="dropdown" style="float: right">
          <button class="dropbtn">Options</button>
          <div class="dropdown-content">
            <a href="/">Home Page</a>
            <a><%= user%></a>
          </div>
        </div>

        <h1>Signaler un nouveau incident</h1>
        <form action="/add" method="post">
          <label>Description</label>
          <div>
            <textarea name="description" type="text" rows="4" cols="50" required></textarea>
          </div>
          <label>Adresse (Ex: "88 Gare de Louvain-la-Neuve Ottignis, BE-07306")</label>
          <div>
            <p class="incorrect-address"><%= incorrect %></p>
            <textarea  name="address" type="text"rows="4" cols="50" required></textarea>
          </div>
          <div>
            <p id="date"><label>Date: <%=rememeber%></label></p>
            <button id="submit" type="submit" name="button">Ajouter l'incident</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>