<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet preparatoire</title>
    <link rel="stylesheet" href="css/index-style.css">
</head>
<body>
    <header>
      <section class="logo-title">
        <img src="Pics/Logo-federation-wallonie-bruxelles.jpg" alt="Logo Fédération Wallonie Bruxelles" width="150" height="175">
        <h1>Louvain-La-Neuve</h1>

      </section>
      <section>
        <input id="searchbar" onkeyup="searchOnKeyUp()" type="text" name="search" placeholder="Search..">
            <a href="/login" >Login</a>
      </section>
    </header>
    <section class="add-and-date">
        <a href="/incident">Lien pour ajouter un incident</a>
        <p>
            <label>Jour actuel:</label>
            <input type="date" id="myDatePicker" onchange="datePickerClicked()">
        </p>
    </section>
    <div id="incidents-table"></div>
</body>
<head><script type="text/javascript" src="/scripts/index.js"></script></head>
</html>
