<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Louvain-l'incident</title>
        <link rel="stylesheet" type="text/css" href="login-style.css">
    </head>
    <body>
        <section>
            <div class="top">Page d’Identification</div>
        </section>
        <section class="bigBlock">
            <div>
                <p>
                    <img src="../Pics/Logo-federation-wallonie-bruxelles.jpg" alt="Logo Fédération Wallonie Bruxelles" width="150" height="175">
                    <input type="text" value="Champs de recherche">
                </p>
            </div>
            <div>
                <h3>Compte existant</h3>
                <div>
                    <label for="nickName1">Nom d'utilisateur</label>
                    <input id="nickName1" type="text">
                </div>
                <div>
                    <label for="password1">Mot de passe</label>
                    <input id="password1" type="password">
                </div>
                <button name="button">S'identifier</button>
                <h3>Nouveau compte</h3>
                <div>
                    <label for="nickName2">Nom d'utilisateur</label>
                    <input id="nickName2" type="text">
                </div>
                <div>
                    <label for="password2">Mot de passe</label>
                    <input id="password2" type="password">
                </div>
                <div>
                    <label for="name">Nom complet</label>
                    <input id="name" type="text">
                </div>
                <div>
                    <label for="email-input">Adresse e-mail</label>
                    <input id="email-input" type="email">
                </div>
                <button name="button">S'enregistrer</button>
            </div>
        </section>
    </body>
</html>