<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Louvain-l'incident</title>
        <link rel="stylesheet" type="text/css" href="css/login-style.css">
        <script src="login.js"></script>
    </head>
    <body>
        <section>
            <div class="top">Page d’Identification</div>
        </section>
        <section class="bigBlock">
            <div id="headingDiv">
                <p>
                    <img src="Pics/Logo-federation-wallonie-bruxelles.jpg" alt="Logo Fédération Wallonie Bruxelles" width="150" height="175">
                </p>
            </div>
            <div>
                <h3>Compte existant</h3>
                <form action="/ident" method="post">
                    <div>
                        <label for="username1">Nom d'utilisateur</label>
                        <input name="username1" type="text" required>
                        <p class="incorrect-passsword"><%= incorrect1 %></p>
                    </div>
                    <div>
                        <label for="password1">Mot de passe</label>
                        <input name="password1" type="password" required>
                    </div>
                    <button type="submit" name="button">S'identifier</button>
                </form>
                <h3>Nouveau compte</h3>
                <form name="registerForm" action="/signUp" method="post" onsubmit="return validateRegister(event)">
                    <div>
                        <label for="username2">Nom d'utilisateur</label>
                        <input name="username2" type="text" required>
                        <p class="incorrect-passsword"><%= incorrect2 %></p>
                    </div>
                    <div>
                        <label for="password2">Mot de passe</label>
                        <input name="password2" type="password" required>
                    </div>
                    <div>
                        <label for="name">Nom complet</label>
                        <input name="name" type="text" required>
                    </div>
                    <div>
                        <label for="email-input">Adresse e-mail</label>
                        <input id="email-input" name="email" type="email" required>
                    </div>
                    <button type="submit" name="button">S'enregistrer</button>
                </form>
            </div>
        </section>
    </body>
</html>